<%= form_for(resource, :as => resource_name, :url => usuario_confirmation_path, :html => { :method => :post, :class=>'form-signin' }) do |f| %>
  <h2>Enviar email de confirmación</h2>

  <% if resource.errors.any? %>
    <div class="alert alert-error">
      <strong>Atención!</strong>
      <br>Debe corregir los siguientes errores para poder enviar su mensaje de confirmación:
      <ul>
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.email_field :email, :autofocus => true, :class=>'input-block-level', :placeholder=>'Email' %>
  </p>

  <p>
    <%= f.submit "Enviar", :class=>'btn btn-primary', :disable_with=>"Enviando..."  %>
  </p>

  <p id="links">
    <%= render "devise/shared/links" %>
  </p>
<% end %>
