<div id="editar-perfil">
  <h2>Edite su perfil.</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <div class="hero-unit">
      <% if resource.errors.any? %>
        <div class="alert alert-error">
          <strong>Atenci칩n!</strong>
          <br>Debe corregir los siguientes errores para poder editar su perfil:
          <ul>
            <% resource.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row-fluid">
        <fieldset class="span5">
          <p>
            Nombre: 
            <br><%= f.text_field :nombre %>
          </p>

          <p>
            Email: 
            <br><%= f.email_field :email %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p class="alert alert-notice">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
          </p>

          <p>
            Perfil:
            <br><%= f.text_area :descripcion, :rows=>5 %>
          </p>

          <p>
            Contrase침a actual:
            <br><%= f.password_field :current_password, :autocomplete => "off" %>
            <br><small class="muted"><i>Debe ingresarla para confirmar sus cambios</i></small>
          </p>

          <p>
            <%= f.submit "Edite su perfil", :disable_with=>"Enviando...", :class=>"btn btn-primary" %>
          </p>
        </fieldset>

        <fieldset class="span5 offset1">
          <p>
            Contrase침a nueva: 
            <br><%= f.password_field :password, :autocomplete => "off" %>
            <br><small class="muted"><i>Deje este campo en blanco si no la quiere cambiar</i></small>
          </p>

          <p>
            Confirme su contrase침a nueva: 
            <br><%= f.password_field :password_confirmation, :autocomplete => "off" %>
            <br><small class="muted"><i>Deje este campo en blanco si no la quiere cambiar</i></small>
          </p>
        </fieldset>
      </div>
      </div>
    </div>

  <% end %>

  <% if false %>
    <h3>Cancel my account</h3>
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
  <% end %>
</div>
