<div id="editar-perfil">
  <div class="hero-unit">
    <h3>Edite su perfil.</h3>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <% if resource.errors.any? %>
        <div class="alert alert-error">
          <strong>Atención!</strong>
          <br>Debe corregir los siguientes errores para poder editar su perfil:
          <ul>
            <% resource.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row-fluid">
        <fieldset class="span5">
          <p>
            Nombre: 
            <br><%= f.text_field :nombre %>
          </p>

          <p>
            Email: 
            <br><%= f.email_field :email %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p class="alert alert-notice">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
          </p>

          <p>
            Perfil:
            <br><%= f.text_area :descripcion, :rows=>5 %>
          </p>

          <p>
            Contraseña actual:
            <br><%= f.password_field :current_password, :autocomplete => "off" %>
            <br><small class="muted"><i>Debe ingresarla para confirmar sus cambios</i></small>
          </p>

          <p>
            <%= f.submit "Edite su perfil", :disable_with=>"Enviando...", :class=>"btn btn-primary" %>
          </p>
        </fieldset>


        <fieldset class="span5 offset1">
          <p>
            Contraseña nueva: 
            <br><%= f.password_field :password, :autocomplete => "off" %>
            <br><small class="muted"><i>Deje este campo en blanco si no la quiere cambiar</i></small>
          </p>

          <p>
            Confirme su contraseña nueva: 
            <br><%= f.password_field :password_confirmation, :autocomplete => "off" %>
            <br><small class="muted"><i>Deje este campo en blanco si no la quiere cambiar</i></small>
          </p>
        </fieldset>
      </div>
    <% end %>
  </div>
  <div class="hero-unit">
    <h3>Elimine su perfil.</h3>
    <p>
      <a class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete" href="#"><i class="icon-trash icon-white"></i> Elimine su perfil</a>
    </p>
    <% content_for :modal do %>
      <div id="confirm-delete" class="modal hide fade">
        <div class="modal-header">
          <h4>¿Está seguro?</h4>
        </div>
        <div class="modal-body">
          <p>
            Al eliminar su perfil usted no podrá ingresar al sistema de La República Ciudadana para participar. Adicionalmente, el contenido que usted ha publicado no estará disponible para que otras personas lo vean. 
          </p>

          <p>
            <strong>Le sugerimos que no elimine su perfil</strong> y deje publicado su contenido porque es de gran importancia para mantener la coherencia de las discusiones y las diversas perspectivas sobre las temáticas de ciudadanía.
          </p>

          <p>
            De igual manera, si decide lo contrario, le pedimos que por favor nos cuente los motivos de la eliminación de su contenido publicado:  
          </p>

          <form action=" ">
            <input type="hidden" id="usuario_id" value="<%= resource.id  %>" />
            <p>
              Motivos para eliminar su perfil:
              <textarea name="" id="motivos" rows="4" style="width:97%"></textarea>
            </p>
            <p>
              Su contraseña:<br>
              <input type="password" id="current_password" />
            </p>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn btn-primary">No eliminar</a>
          <a href="#" class="btn btn-danger" id="btn-eliminar-perfil">Eliminar</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
