<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class=>'form-signin' }) do |f| %>
  <h2>Olvidó su contraseña?</h2>

  <%= devise_error_messages! %>

  <p>
    <%= f.email_field :email, :autofocus => true, :placeholder=>'Email' %>
  </p>

  <p><%= f.submit raw("Restablesca mi contraseña &raquo;"), :class=>"btn btn-primary", :disable_with=>"Enviando..."  %></p>

  <%= render "devise/shared/links" %>
<% end %>

