<!DOCTYPE html>
<html>
<head>
  <title>República Ciudadana</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--====================-->
  <!--BARRA NEGRA SUPERIOR-->
  <!--====================-->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <form class="navbar-search pull-right">
        <input type="text" class="search-query" placeholder="Busque">
      </form>
      <ul class="nav pull-right">
        <li><a href="#">Formule una pregunta</a></li>
        <li><a href="#">Regístrese o ingrese</a></li>
      </ul>
      <a class="brand" href="#">República Ciudadana</a>
    </div>
  </div>

  <div class="container-fluid">
    <%= yield %>
  </div>

  <%= render "shared/footer" %>


  <!-- ====== -->
  <!--  TODO  -->
  <!-- ====== -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<body>
</html>
