<!DOCTYPE html>
<html>
<head>
  <title>República Ciudadana</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--====================-->
  <!--BARRA NEGRA SUPERIOR-->
  <!--====================-->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <form class="navbar-search pull-right">
        <input type="text" class="search-query" placeholder="Busque">
      </form>
      <ul class="nav pull-right">
        <li><a href="/login">Regístrese o ingrese</a></li>
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    <!--=================-->
    <!--RECUADRO GRANDOTE-->
    <!--=================-->
    <div class="hero-unit">
      <h1>República Ciudadana</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <a>Lea Mas &raquo;</a>
      </p>
      <p><%= link_to raw("Formule una pregunta &raquo;"), new_pregunta_path, :class => "btn btn-primary"%></p>
    </div>

    <%= yield %>
  </div>

  <%= render "shared/footer" %>

  <!-- ====== -->
  <!--  TODO  -->
  <!-- ====== -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</body>
</html>
