<% comentable.comentarios.each do |comentario| %>
  <% 
    #Is this the one we're editing? 
    if (@editing_comentario and @comentario.id==comentario.id)
      cmt = @comentario
      hide_cuerpo=true
    else
      cmt = comentario
      hide_cuerpo=false
    end
  %>
  <div id="comentario-<%= comentario.id %>" class="comentario">
    <i class="icon-comment"></i>
    <p class="cuerpo-comentario">
      <% unless hide_cuerpo %>
        <%= comentario.cuerpo %>
        – <i><%= link_to comentario.usuario.nombre, usuario_path(comentario.usuario) %> hace <%= distance_of_time_in_words comentario.updated_at, Time.now %></i>     
        <% if current_usuario.id == comentario.usuario_id %>
          <a class="btn-editar-comentario" data-form="form-comentario-<%= comentario.id %>" data-toggle="tooltip" title="Edite su comentario" href="#"><i class="icon-pencil"></i> </a>
        <% end %>
      <% end %>
    </p>
    <% if current_usuario.id == comentario.usuario_id %>
      <%= render 'preguntas/form_comentario', :comentable=>comentable, :comentario=>cmt, :is_new=>false %>
    <% end %>
  </div>
<% end %>
