<% 
  if is_new
    verbo = 'publicar'
    verbo2 = 'Publique'
    anchor = 'nueva-respuesta'
    url = respuestas_path(respuesta, :anchor=>anchor)
  else
    verbo = 'editar'
    verbo2 = 'Edite'
    anchor = "edit_respuesta_#{respuesta.id}"
    url = respuesta_path(respuesta, :anchor=>anchor)
  end
%>


<%= form_for(respuesta, :url=>url) do |f| %>
  <%= f.hidden_field :pregunta_id, :value=>@pregunta.id %>

  <% if respuesta.errors.any? %>
    <div class="alert alert-error">
      <strong>Atención!</strong>
      <br>Debe corregir los siguientes errores para poder <%= verbo %> su respuesta:
      <ul>
        <% respuesta.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <span id="formato"><small><a href="#">Vea opciones de formato.</a></small></span>
    <br><%= f.text_area :cuerpo, {:cols=>"", :rows=>"8", :class=>'wysiwyg'}  %>
    <br><small class="muted"><i>Por favor publique respuestas que sólo tengan relación directa con la pregunta formulada y que contesten las inquietudes expuestas. Si va a emplear enlaces para responder, asegúrese de que lleven una explicación o una descripción que le aporten a la pregunta formulada. Y recuerde no agregar  información demasiado extensa, impertinente, ofensiva o publicitaria.</i></small>
  </p>
  <!!-- TODO: no modal if editing -->
  <% if @pregunta.usuario_already_answered(current_usuario) %>
    <% content_for :modal do %>
      <div id="confirm-modal" class="modal hide fade">
        <div class="modal-header">
          <h4>¿Está seguro?</h4>
        </div>
        <div class="modal-body">
            Usted ya publicó una respuesta para esta pregunta, le recomendamos editar su pregunta anterior en lugar de publicar una nueva.
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn btn-primary">Ok, voy a editar.</a>
          <a href="#" class="btn" onClick="debugger; $('#new_respuesta').submit();">Publicar mi nueva respuesta!</a>
        </div>
      </div>
    <% end %>
    <p>
      <a class="btn btn-primary" data-target="#confirm-modal" role="button" data-toggle="modal"><%= verbo2 %> su respuesta</a>
    </p>
  <% else #not already answered %> 
    <p>
      <%= f.submit raw("#{verbo2} su respuesta"), :class=>"btn btn-primary", :disable_with=>"Enviando..." %>
    </p>
  <% end %>
<% end %>

