<% 
  is_edit ||= false
  verbo = is_edit ? 'editar' : 'formular'
  verbo2 = is_edit ? 'Edite' : 'Formule'
%>
<%= form_for(@pregunta) do |f| %>
  <% if @pregunta.errors.any? %>
    <div class="alert alert-error">
      <strong>Atención!</strong>
      <br>Debe corregir los siguientes errores para poder <%= verbo %> su pregunta:
      <ul>
        <% @pregunta.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <p id="pregunta">
      Pregunta: 
      <br><span class="muted">¿Qué puedo hacer como ciudadano colombiano para ... </span> 
      <br><%= f.text_field :topico %> <span class="muted">?</span>
      <br><small class="muted"><i>Por favor complemente la pregunta siguiendo la estructura gramatical establecida. Y haga preguntas que tengan relación con las temáticas de la ciudadanía en Colombia. </i></small>
    </p>

    <p id="texto-complementario">
      Texto Complementario:
      <span id="formato"><small><a href="#">Vea opciones de formato.</a></small></span>
      <br><%= f.text_area :cuerpo, {:cols=>"", :rows=>"8", :class=>"wysiwyg"}  %>
      <br><small class="muted"><i>Por favor sea preciso al contextualizar la pregunta de acuerdo a sus necesidades e intereses de conocimiento, sin salirse del tema de la ciudadanía. Y recuerde no agregar  información demasiado extensa, impertinente, ofensiva o publicitaria.</i></small>
    </p>

    <p id="etiquetas">
      Etiquetas:
      <br><%= f.text_field :etiquetas_list %>
      <br><small class="muted"><i>Separadas por comas</i></small>
    </p>

    <p class="actions">
      <%= f.submit raw("#{verbo2} su pregunta &raquo;"), :class=>"btn btn-primary", :disable_with=>"Enviando..." %>
    </p>
  </fieldset>
<% end %>
