<% 
  if is_new
    is_for = comentable.class.name.downcase + '-new'
    verb = 'Publique'
    url = comentarios_path(comentario, :anchor=>"form-comentario-#{is_for}")
  else
    is_for = comentario.id.to_s
    verb = 'Edite'
    url = comentario_path(comentario, :anchor=>"form-comentario-#{is_for}")
  end
%>

<%= form_for(comentario, :url=>url, :html=>{:class=>'hidden nuevo-comentario', :id=>"form-comentario-#{is_for}"}) do |f| %>
  <%= f.hidden_field :comentable_id, :value=>comentable.id %>
  <%= f.hidden_field :comentable_type, :value=>comentable.class.name %>

  <% if comentario.errors.any? %>
    <div class="alert alert-error">
      <strong>Atención!</strong>
      <br>Debe corregir los siguientes errores para poder publicar su comentario:
      <ul>
        <% comentario.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_area :cuerpo, {:cols=>"", :rows=>"4"}  %>
  <%= f.submit raw("#{verb} su comentario"), :class=>"btn btn-primary btn-small", :disable_with=>"Enviando..." %>
<% end %>
