<!--=================-->
<!--RECUADRO GRANDOTE-->
<!--=================-->
<div class="hero-unit">
  <h1>República Ciudadana</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    <a>Lea Mas &raquo;</a>
  </p>
  <p><%= link_to raw("Formule una pregunta &raquo;"), new_pregunta_path, :class => "btn btn-primary"%></p>
</div>

<!--==============-->
<!--TABS PREGUNTAS-->
<!--==============-->
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Todas las preguntas.</a></li>
  <li><a href="#">Preguntas con menos participación.</a></li>
  <li><a href="#">Preguntas con mas participación.</a></li>
</ul>

<!--===============-->
<!--LISTA PREGUNTAS-->
<!--===============-->
<ul id="preguntas-lista">
  <% @preguntas.each do |pregunta| %>
    <li>
      <div class="num-respuestas" data-toggle="tooltip" title="Esta pregunta tiene 88 respuestas.">
        88<i class="icon-ok"></i>
      </div>
      <div class="num-comentarios" data-toggle="tooltip" title="Esta pregunta tiene 88 comentarios.">
        00<i class="icon-comment"></i>
      </div>
      <h3>
        <a href="<%= pregunta_path(pregunta) %>"><span class="muted">
          ¿Qué puedo hacer como ciudadano colombiano para</span> <%= pregunta.topico %>
          <span class="muted">?</span>
        </span></a>
      </h3>
      <p class="tags">
        <% pregunta.etiquetas.each do |e| %>
          <span data-toggle="tooltip" title="Esta pregunta ha sido etiquetada <%= e.etiqueta %>." class="label"><a href="#"><%= e.etiqueta %></a></span>
        <% end %>
      <hr>
    </li>
  <% end %>
</ul>

<!--================-->
<!--LINKS PAGINACION-->
<!--================-->
<%= will_paginate @preguntas, 
  :renderer => BootstrapPagination::Rails, 
  :class=>"pagination pagination-centered",
  :previous_label=>"&laquo;",
  :next_label=>"&raquo;",
  :param_name=>"pagina"
%>
