<!--=================-->
<!--RECUADRO GRANDOTE-->
<!--=================-->
<div class="hero-unit">
  <h1>La República Ciudadana</h1>
  <p>
    Es un espacio público que permite conversar y poner en común el conocimiento acerca del ser y el quehacer del ciudadano colombiano, a través de la formulación y  la contestación de preguntas.
    <a href="<%= page_path("acerca-de") %>"><small>Lea más &raquo;</small></a>
  </p>

  <% if usuario_signed_in? %>
    <p>
      <%= link_to raw("Denos su opinión &raquo;"), pregunta_path(1), :class=>"btn"%>
      <%= link_to raw("Formule una pregunta &raquo;"), new_pregunta_path, :class => "btn btn-primary"%>
    <% else %>
      <%= link_to raw("Ingrese para participar &raquo;"), new_usuario_session_path, :class => "btn btn-primary"%>
    <% end %>
  </p>
</div>

<!--==============-->
<!--TABS PREGUNTAS-->
<!--==============-->
<ul class="nav nav-tabs">
  <% unless params[:busqueda] %>
    <li <%= raw('class="active"') if params[:orden].nil? %>><a href="/">Todas las preguntas</a></li>
    <li <%= raw('class="active"') if params[:orden]=='mas' %>><a href="?orden=mas">Preguntas con menos participación</a></li>
    <li <%= raw('class="active"') if params[:orden]=='menos' %>><a href="?orden=menos">Preguntas con más participación</a></li>
  <% else %>
    <li class="active"><a href="#">Resultados de su búsqueda</a></li>
    <li><a href="/">Todas las preguntas</a></li>
  <% end %>
</ul>

<!--===============-->
<!--LISTA PREGUNTAS-->
<!--===============-->
  <% if @preguntas.empty? %>
    <h4 style="text-align:center">No se encontraron resultados para su búsqueda. Intentelo de nuevo.</h4>
  <% else %>
    <ul id="preguntas-lista">
      <% @preguntas.each do |pregunta| %>
        <%= render 'preguntas/pregunta', :pregunta=>pregunta %>
      <% end %>
    </ul>
  <% end %>

<!--================-->
<!--LINKS PAGINACION-->
<!--================-->
<%= will_paginate @preguntas, 
  :renderer => BootstrapPagination::Rails, 
  :class=>"pagination pagination-centered",
  :previous_label=>"&laquo;",
  :next_label=>"&raquo;",
  :param_name=>"pagina"
%>
