<!--=================-->
<!--RECUADRO GRANDOTE-->
<!--=================-->
<div class="hero-unit">
  <h1>República Ciudadana</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    <a href="<%= page_path("acerca-de") %>">Lea mas &raquo;</a>
  </p>
  <% if usuario_signed_in? %>
    <p><%= link_to raw("Formule una pregunta &raquo;"), new_pregunta_path, :class => "btn btn-primary"%></p>
  <% else %>
    <p><%= link_to raw("Ingrese para participar &raquo;"), new_usuario_session_path, :class => "btn btn-primary"%></p>
  <% end %>
</div>

<!--==============-->
<!--TABS PREGUNTAS-->
<!--==============-->
<ul class="nav nav-tabs">
  <% unless params[:busqueda] %>
    <li <%= raw('class="active"') if params[:orden].nil? %>><a href="/">Todas las preguntas.</a></li>
    <li <%= raw('class="active"') if params[:orden]=='mas' %>><a href="?orden=mas">Preguntas con menos participación.</a></li>
    <li <%= raw('class="active"') if params[:orden]=='menos' %>><a href="?orden=menos">Preguntas con mas participación.</a></li>
  <% else %>
    <li class="active"><a href="#">Resultados de su búsqueda.</a></li>
    <li><a href="/">Todas las preguntas.</a></li>
  <% end %>
</ul>

<!--===============-->
<!--LISTA PREGUNTAS-->
<!--===============-->
  <% if @preguntas.empty? %>
    <h4 style="text-align:center">No se encontraron resultados para su búsqueda. Intentelo de nuevo.</h4>
  <% else %>
    <ul id="preguntas-lista">
      <% @preguntas.each do |pregunta| %>
        <%= render 'preguntas/pregunta', :pregunta=>pregunta %>
      <% end %>
    </ul>
  <% end %>

<!--================-->
<!--LINKS PAGINACION-->
<!--================-->
<%= will_paginate @preguntas, 
  :renderer => BootstrapPagination::Rails, 
  :class=>"pagination pagination-centered",
  :previous_label=>"&laquo;",
  :next_label=>"&raquo;",
  :param_name=>"pagina"
%>
