<!--==============-->
<!--TABS PREGUNTAS-->
<!--==============-->
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Todas las preguntas.</a></li>
  <li><a href="#">Preguntas con menos participación.</a></li>
  <li><a href="#">Preguntas con mas participación.</a></li>
</ul>

<!--===============-->
<!--LISTA PREGUNTAS-->
<!--===============-->
<ul id="preguntas-lista">
  <% 5.times do%>
    <li>
      <div class="num-respuestas" data-toggle="tooltip" title="Esta pregunta tiene 88 respuestas.">
        88<i class="icon-ok"></i>
      </div>
      <div class="num-comentarios" data-toggle="tooltip" title="Esta pregunta tiene 88 comentarios.">
        00<i class="icon-comment"></i>
      </div>
      <h3>
        <a href="#"><span class="muted">
            ¿Qué puedo hacer como ciudadano colombiano para</span> protestar lorem ipsum dolorem sit amet<span class="muted">?
        </span></a>
      </h3>
      <p class="tags"><span data-toggle="tooltip" title="Esta pregunta ha sido etiquetada Tag 1." class="label"><a  data-toggle="tooltip" title="Esta pregunta ha sido etiquetada Tag 1." href="#">Tag 1</a></span> <span  data-toggle="tooltip" title="Esta pregunta ha sido etiquetada Tag 1." class="label"><a href="#">Tag 1</a></span> <span  data-toggle="tooltip" title="Esta pregunta ha sido etiquetada Tag 1." class="label"><a href="#">Tag 1</a></span></p>
      <hr>
    </li>
    <li>
      <div class="num-respuestas" data-toggle="tooltip" title="Esta pregunta tiene 88 respuestas.">
        88<i class="icon-ok"></i>
      </div>
      <div class="num-comentarios" data-toggle="tooltip" title="Esta pregunta tiene 88 comentarios.">
        00<i class="icon-comment"></i>
      </div>
      <h3>
        <a href="#"><span class="muted">
            ¿Qué puedo hacer como ciudadano colombiano para</span> acordar recordar aplacar<span class="muted">?
        </span></a>
      </h3>
      <p class="tags"><span  data-toggle="tooltip" title="Esta pregunta ha sido etiquetada Tag 1." class="label"><a href="#">Tag 1</a></span> <span  data-toggle="tooltip" title="Esta pregunta ha sido etiquetada Tag 1." class="label"><a href="#">Tag 2</a></span></p>
      <hr>
    </li>
  <% end %>
</ul>

<!--================-->
<!--LINKS PAGINACION-->
<!--================-->
<div class="pagination pagination-centered">
  <ul>
    <li><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>

<!-- <h1>Listing preguntas</h1> -->
<!--  -->
<!-- <table> -->
<!--   <tr> -->
<!--     <th>Topico</th> -->
<!--     <th>Cuerpo</th> -->
<!--     <th></th> -->
<!--     <th></th> -->
<!--     <th></th> -->
<!--   </tr> -->
<!--  -->
<!-- <% @preguntas.each do |pregunta| %> -->
<!--   <tr> -->
<!--     <td><%= pregunta.topico %></td> -->
<!--     <td><%= pregunta.cuerpo %></td> -->
<!--     <td><%= link_to 'Show', pregunta %></td> -->
<!--     <td><%= link_to 'Edit', edit_pregunta_path(pregunta) %></td> -->
<!--     <td><%= link_to 'Destroy', pregunta, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
<!--   </tr> -->
<!-- <% end %> -->
<!-- </table> -->
<!--  -->
<!-- <br /> -->
<!--  -->
<!-- <%= link_to 'New Pregunta', new_pregunta_path %> -->
