<div id="detalle-pregunta">
  <% if @pregunta.extrana %>
    <h2><%= @pregunta.topico %></h2>
  <% else %>
  <h2>¿Qué puedo hacer como ciudadano colombiano para <%= @pregunta.topico %>?</h2>
  <% end %>
  <hr>

  <!-- ================ -->
  <!--  VOTOS PREGUNTA  -->
  <!-- ================ -->
  <%= render 'preguntas/votos', :votable=>@pregunta %>

  <!-- ================= -->
  <!--  CUERPO PREGUNTA  -->
  <!-- ================= -->
  <div class="indent-1">
    <div class="user_input_html">
      <%= @pregunta.cuerpo.html_safe %>
    </div>
    <p class="meta">
      Pregunta formulada por <%= link_to @pregunta.usuario.nombre, usuario_path(@pregunta.usuario) %> hace <%= distance_of_time_in_words @pregunta.updated_at, Time.now %>.
      <span class="tags">
        Etiquetas: <% @pregunta.etiquetas.each do |e| %>
          <span data-toggle="tooltip" title="Esta pregunta ha sido etiquetada <%= e.etiqueta %>." class="label"><a href="/?busqueda=<%= e.etiqueta %>"><%= e.etiqueta %></a></span>
        <% end %>
      </span>
    </p>
    <% if usuario_signed_in? and current_usuario.id == @pregunta.usuario_id %>
      <p>
        <a class="btn btn-small btn-editar-pregunta" href="<%= edit_pregunta_path(@pregunta) %>"><i class="icon-pencil"></i> Edite su pregunta.</a>
        <a class="btn btn-small" data-toggle="modal" data-target="#confirm-delete-pregunta" href="#"><i class="icon-trash"></i> Elimine su pregunta.</a>
      </p>

      <!-- =================== -->
      <!--  ELIMINAR PREGUNTA  -->
      <!-- =================== -->
      <% content_for :modal do %>
        <div id="confirm-delete-pregunta" class="modal hide fade">
          <div class="modal-header">
            <h4>¿Está seguro?</h4>
          </div>
          <div class="modal-body">
            <p>
              <strong>Le sugerimos que deje publicado su contenido</strong> porque es de gran importancia para mantener la coherencia de las discusiones y las diversas perspectivas sobre las temáticas de ciudadanía.
            </p>

            <p>
              De igual manera, si decide lo contrario, le pedimos que por favor nos cuente los motivos de la eliminación de su contenido publicado:  
            </p>

            <form action=" ">
              <input type="hidden" id="pregunta_id" value="<%= @pregunta.id  %>" />
              <p>
                Motivos para eliminar su pregunta:
                <textarea name="" id="motivos-pregunta" rows="4" style="width:97%"></textarea>
              </p>
              <p>
                Su contraseña:<br>
                <input type="password" id="current-password-pregunta" />
              </p>
            </form>
          </div>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-primary">No eliminar</a>
            <a href="#" class="btn btn-danger" id="btn-eliminar-pregunta">Eliminar</a>
          </div>
        </div>
      <% end %>

    <% end %>
  </div>
  

  <!-- ====================== -->
  <!--  COMENTARIOS PREGUNTA  -->
  <!-- ====================== -->
  <div id="comentarios">
    <%= render 'preguntas/comentarios', :comentable=>@pregunta %>

    <!-- ================= -->
    <!--  FORM COMENTARIO  -->
    <!-- ================= -->
    <% if  usuario_signed_in? %>
      <a id="agregar-comentario-pregunta" href="#" class="btn btn-mini agregar-comentario" data-form="form-comentario-pregunta-new">Publique un comentario</a>
      <%= render 'preguntas/form_comentario', :comentable=>@pregunta, :comentario=>@comentario, :is_new=>true %>
    <% end %>
  </div>

  <!-- ============ -->
  <!--  RESPUESTAS  -->
  <!-- ============ -->
  <% unless @pregunta.respuestas.empty? %>
    <h3><%= @pregunta.respuestas.length %> Respuestas</h3>
  <% end %>

  <hr>

  <% @pregunta.respuestas.each do |respuesta| %>
    <!-- ================= -->
    <!--  VOTOS RESPUESTA  -->
    <!-- ================= -->
    <%= render 'preguntas/votos', :votable=>respuesta %>

    <!-- ================== -->
    <!--  CUERPO RESPUESTA  -->
    <!-- ================== -->
    <div class="indent-1" id="respuesta_<%= respuesta.id %>">
      <div class="hideme">
        <div class="user_input_html">
          <%= respuesta.cuerpo.html_safe %>
        </div>
        <p class="meta">Respuesta ingresada por <%= link_to respuesta.usuario.nombre, usuario_path(respuesta.usuario) %> hace <%= distance_of_time_in_words respuesta.updated_at, Time.now %>.</p>
      </div>
      <% if usuario_signed_in? and current_usuario.id == respuesta.usuario_id %>
        <p>
          <a class="respuesta-edit-btn btn btn-small" href="#"><i class="icon-pencil"></i> Edite su respuesta.</a>

          <a class="btn btn-small" data-toggle="modal" data-target="#confirm-delete-respuesta" href="#"><i class="icon-trash"></i> Elimine su respuesta.</a>
        </p>
        <div class="respuesta-edit-form hidden">
          <%= render 'preguntas/form_respuesta', :respuesta=>@editing_respuesta ? @respuesta : respuesta, :is_new=>false %>
        </div>
      <% end %>
    </div>



      <!-- ==================== -->
      <!--  ELIMINAR RESPUESTA -->
      <!-- ==================== -->
      <% content_for :modal do %>
        <div id="confirm-delete-respuesta" class="modal hide fade">
          <div class="modal-header">
            <h4>¿Está seguro?</h4>
          </div>
          <div class="modal-body">
            <p>
              <strong>Le sugerimos que deje publicado su contenido</strong> porque es de gran importancia para mantener la coherencia de las discusiones y las diversas perspectivas sobre las temáticas de ciudadanía.
            </p>

            <p>
              De igual manera, si decide lo contrario, le pedimos que por favor nos cuente los motivos de la eliminación de su contenido publicado:  
            </p>

            <form action=" ">
              <input type="hidden" id="respuesta_id" value="<%= respuesta.id  %>" />
              <p>
                Motivos para eliminar su respuesta:
                <textarea name="" id="motivos-respuesta" rows="4" style="width:97%"></textarea>
              </p>
              <p>
                Su contraseña:<br>
                <input type="password" id="current-password-respuesta" />
              </p>
            </form>
          </div>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-primary">No eliminar</a>
            <a href="#" class="btn btn-danger" id="btn-eliminar-respuesta">Eliminar</a>
          </div>
        </div>
      <% end %>




    <!-- ====================== -->
    <!--  COMENTARIOS RESPUESTA  -->
    <!-- ====================== -->
    <div id="comentarios">
      <%= render 'preguntas/comentarios', :comentable=>respuesta %>

      <!-- ================= -->
      <!--  FORM COMENTARIO  -->
      <!-- ================= -->
      <% if  usuario_signed_in? %>
        <a id="agregar-comentario-respuesta" href="#" class="btn btn-mini agregar-comentario" data-form="form-comentario-respuesta-new">Publique un comentario</a>
        <%= render 'preguntas/form_comentario', :comentario=>@comentario, :comentable=>respuesta, :is_new=>true %>
      <% end %>

    </div>
    <hr>
  <% end %>

  <!-- ====================== -->
  <!--  FORM NUEVA RESPUESTA  -->
  <!-- ====================== -->
  <% if usuario_signed_in? %>
    <div id="nueva-respuesta">
      <h3>Su Respuesta</h3>
      <%= render 'preguntas/form_respuesta', :respuesta=>@respuesta, :is_new=>true %>
    </div>
  <% else %>
    <a class="btn btn-primary" href="<%= new_usuario_session_path %>">Ingrese para publicar una respuesta &raquo;</a>
  <% end %>
</div>
