<div id="detalle-pregunta">
  <h2>¿Qué puedo hacer como ciudadano colombiano para <%= @pregunta.topico %>?</h2>
  <hr>

  <!-- ================ -->
  <!--  VOTOS PREGUNTA  -->
  <!-- ================ -->
  <%= render 'preguntas/votos', :votable=>@pregunta %>

  <!-- ================= -->
  <!--  CUERPO PREGUNTA  -->
  <!-- ================= -->
  <div class="indent-1">
    <div class="user_input_html">
      <%= @pregunta.cuerpo.html_safe %>
    </div>
    <p class="meta">
      Pregunta formulada por <a href="#">Rafael Vega</a> en Febrero 8 de 2013 a las 10:00pm.
    </p>
      <% if current_usuario.id == @pregunta.usuario_id %>
        <p><a class="btn btn-small" href="<%= edit_pregunta_path(@pregunta) %>"><i class="icon-pencil"></i> Edite su pregunta.</a></p>
      <% end %>
    <p class="tags">
      <% @pregunta.etiquetas.each do |e| %>
        <span data-toggle="tooltip" title="Esta pregunta ha sido etiquetada <%= e.etiqueta %>." class="label"><a href="#"><%= e.etiqueta %></a></span>
      <% end %>
  </div>

  <!-- ====================== -->
  <!--  COMENTARIOS PREGUNTA  -->
  <!-- ====================== -->
  <div id="comentarios">
    <hr>
    <%= render 'preguntas/comentarios', :comentarios=>@pregunta.comentarios %>

    <!-- ================= -->
    <!--  FORM COMENTARIO  -->
    <!-- ================= -->
    <%= render 'preguntas/form_comentario', :comentario=>@comentario, :comentable=>@pregunta, :comentable_type=>'Pregunta', :pregunta_id=>@pregunta.id %>
  </div>

  <!-- ============ -->
  <!--  RESPUESTAS  -->
  <!-- ============ -->
  <% unless @pregunta.respuestas.empty? %>
    <h3><%= @pregunta.respuestas.length %> Respuestas</h3>
  <% end %>

  <hr>

  <% @pregunta.respuestas.each do |respuesta| %>
    <!-- ================= -->
    <!--  VOTOS RESPUESTA  -->
    <!-- ================= -->
    <%= render 'preguntas/votos', :votable=>respuesta %>

    <!-- ================== -->
    <!--  CUERPO RESPUESTA  -->
    <!-- ================== -->
    <div class="indent-1" id="respuesta_<%= respuesta.id %>">
      <div class="hideme">
        <div class="user_input_html">
          <%= respuesta.cuerpo.html_safe %>
        </div>
        <p class="meta">Respuesta ingresada por <a href="#">rafael vega</a> en febrero 8 de 2013 a las 10:00pm.</p>
      </div>
      <% if current_usuario.id == respuesta.usuario_id %>
        <p><a class="respuesta-edit-btn btn btn-small" href="#"><i class="icon-pencil"></i> Edite su respuesta.</a></p>
        <div class="respuesta-edit-form hidden">
          <%= render 'preguntas/form_respuesta', :respuesta=>@editing_respuesta ? @respuesta : respuesta, :is_new=>false %>
        </div>
      <% end %>
    </div>

    <!-- ====================== -->
    <!--  COMENTARIOS RESPUESTA  -->
    <!-- ====================== -->
    <div id="comentarios">
      <hr>
      <%= render 'preguntas/comentarios', :comentarios=>respuesta.comentarios %>

      <!-- ================= -->
      <!--  FORM COMENTARIO  -->
      <!-- ================= -->
      <%= render 'preguntas/form_comentario', :comentario=>@comentario, :comentable=>respuesta, :comentable_type=>'Respuesta', :pregunta_id=>@pregunta.id %>

    </div>
    <hr>
  <% end %>

  <!-- ====================== -->
  <!--  FORM NUEVA RESPUESTA  -->
  <!-- ====================== -->
  <% unless @pregunta.usuario_already_answered(current_usuario) %>
    <div id="nueva-respuesta">
      <h3>Su Respuesta</h3>
      <%= render 'preguntas/form_respuesta', :respuesta=>@respuesta, :is_new=>true %>
    </div>
  <% end %>
</div>
