<div id="detalle-pregunta">
  <h2>¿Qué puedo hacer como ciudadano colombiano para <%= @pregunta.topico %>?</h2>
  <hr>

  <!-- ================ -->
  <!--  VOTOS PREGUNTA  -->
  <!-- ================ -->
  <div class="votos">
    <a data-toggle="tooltip" title='Marque esta pregunta como "interesante"' class="mas" href="#"><i class="icon-plus-sign"></i></a>
    <a data-toggle="tooltip" title='Marque esta pregunta como "no interesante"' class="menos" href="#"><i class="icon-minus-sign"></i></a>
    <div class="numeros">
      <span class="votos-total">666</span>
      <br><span class="votos-mas">+8</span> 
      <span class="votos-menos">-2</span>
    </div>
  </div>


  <!-- ================= -->
  <!--  CUERPO PREGUNTA  -->
  <!-- ================= -->
  <div class="indent-1">
    <div class="user_input_html">
      <%= @pregunta.cuerpo.html_safe %>
    </div>
    <p class="meta">Pregunta formulada por <a href="#">Rafael Vega</a> en Febrero 8 de 2013 a las 10:00pm.</p>
    <p class="tags">
      <% @pregunta.etiquetas.each do |e| %>
        <span data-toggle="tooltip" title="Esta pregunta ha sido etiquetada <%= e.etiqueta %>." class="label"><a href="#"><%= e.etiqueta %></a></span>
      <% end %>
  </div>

  <!-- ====================== -->
  <!--  COMENTARIOS PREGUNTA  -->
  <!-- ====================== -->
  <div id="comentarios">
    <hr>
    <% @pregunta.comentarios.each do |comentario| %>
      <div id="comentario_<%= comentario.id %>" class="comentario">
        <i class="icon-comment"></i>
        <p class="cuerpo-comentario">
          <%= comentario.cuerpo %>
          – <i><a href="#">Rafael Vega</a> Feb 8 2013 a las 3:00pm</i>
        </p>
      </div>
    <% end %>

    <!-- ================= -->
    <!--  FORM COMENTARIO  -->
    <!-- ================= -->
    <a id="agregar-comentario-pregunta" href="#" class="btn btn-mini agregar-comentario" data-form="form-comentario-pregunta">Publique un comentario</a>
    <%= form_for(@comentario, 
                 :url=>comentarios_path(@comentario, :anchor=>'form-comentario-pregunta'), 
                 :html=>{:class=>'hidden nuevo-comentario', :id=>"form-comentario-pregunta"}
                ) do |f| %>
      <%= f.hidden_field :pregunta_id, :value=>@pregunta.id %>
      <%= f.hidden_field :comentable_id, :value=>@pregunta.id %>
      <%= f.hidden_field :comentable_type, :value=>'Pregunta' %>

      <% if @comentario.errors.any? %>
        <div class="alert alert-error">
          <strong>Atención!</strong>
          <br>Debe corregir los siguientes errores para poder publicar su comentario:
          <ul>
            <% @comentario.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.text_area :cuerpo, {:cols=>"", :rows=>"4"}  %>
      <%= f.submit raw("Publique su comentario"), :class=>"btn btn-primary btn-small" %>
    <% end %>
  </div>

  <!-- ============ -->
  <!--  RESPUESTAS  -->
  <!-- ============ -->
  <% unless @pregunta.respuestas.empty? %>
    <h3><%= @pregunta.respuestas.length %> Respuestas</h3>
  <% end %>

  <hr>

  <% @pregunta.respuestas.each do |respuesta| %>
    <!-- ================= -->
    <!--  VOTOS RESPUESTA  -->
    <!-- ================= -->
    <div class="votos">
      <a data-toggle="tooltip" title='Marque esta respuesta como "correcta"' class="mas" href="#"><i class="icon-plus-sign"></i></a>
      <a data-toggle="tooltip" title='Marque esta respuesta como "incorrecta"' class="menos" href="#"><i class="icon-minus-sign"></i></a> <div class="numeros">
        <span class="votos-total">666</span>
        <br><span class="votos-mas">+8</span> 
        <span class="votos-menos">-2</span>
      </div>
    </div>

    <!-- ================== -->
    <!--  CUERPO RESPUESTA  -->
    <!-- ================== -->
    <div class="indent-1" id="respuesta_<%= respuesta.id %>">
      <div class="user_input_html">
        <%= respuesta.cuerpo.html_safe %>
      </div>
      <p class="meta">Respuesta ingresada por <a href="#">rafael vega</a> en febrero 8 de 2013 a las 10:00pm.</p>
    </div>

    <!-- ====================== -->
    <!--  COMENTARIOS RESPUESTA  -->
    <!-- ====================== -->
    <div id="comentarios">
      <hr>
      <% respuesta.comentarios.each do |comentario| %>
        <div id="comentario_<%= comentario.id %>" class="comentario">
          <i class="icon-comment"></i>
          <p class="cuerpo-comentario">
            <%= comentario.cuerpo %>
            – <i><a href="#">Rafael Vega</a> Feb 8 2013 a las 3:00pm</i>
          </p>
        </div>
      <% end %>

      <!-- ================= -->
      <!--  FORM COMENTARIO  -->
      <!-- ================= -->
      <a id="agregar-comentario-<%= respuesta.id %>" href="#" class="btn btn-mini agregar-comentario" data-form="form-comentario-<%= respuesta.id %>">Publique un comentario</a>
      <%= form_for(@comentario, 
                   :url=>comentarios_path(@comentario, :anchor=>"form-comentario-#{respuesta.id}"), 
                   :html=>{:class=>'hidden nuevo-comentario', :id=>"form-comentario-#{respuesta.id}"}
                  ) do |f| %>
        <%= f.hidden_field :pregunta_id, :value=>@pregunta.id %>
        <%= f.hidden_field :comentable_id, :value=>respuesta.id %>
        <%= f.hidden_field :comentable_type, :value=>'Respuesta' %>

        <% if @comentario.errors.any? %>
          <div class="alert alert-error">
            <strong>Atención!</strong>
            <br>Debe corregir los siguientes errores para poder publicar su comentario:
            <ul>
              <% @comentario.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.text_area :cuerpo, {:cols=>"", :rows=>"4"}  %>
        <%= f.submit raw("Publique su comentario"), :class=>"btn btn-primary btn-small" %>
      <% end %>
    </div>
    <hr>
  <% end %>

  <!-- ====================== -->
  <!--  FORM NUEVA RESPUESTA  -->
  <!-- ====================== -->
  <div id="nueva-respuesta">
    <h3>Su Respuesta</h3>
    <%= form_for(@respuesta, :url=>respuestas_path(@respuesta, :anchor=>'nueva-respuesta')) do |f| %>
      <%= f.hidden_field :pregunta_id, :value=>@pregunta.id %>

      <% if @respuesta.errors.any? %>
        <div class="alert alert-error">
          <strong>Atención!</strong>
          <br>Debe corregir los siguientes errores para poder publicar su respuesta:
          <ul>
            <% @respuesta.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <p>
        <span id="formato"><small><a href="#">Vea opciones de formato.</a></small></span>
        <br><%= f.text_area :cuerpo, {:cols=>"", :rows=>"8", :class=>'wysiwyg'}  %>
        <br><small class="muted"><i>Recuerde que lorem ipsum dolorem sit amet.</i></small>
      </p>
      <p>
        <%= f.submit raw("Publique su respuesta"), :class=>"btn btn-primary" %>
      </p>
    <% end %>
  </div>
</div>
