<div id="detalle-pregunta">
  <h2>¿Qué puedo hacer como ciudadano colombiano para <%= @pregunta.topico %>?</h2>
  <hr>

  <!-- ================ -->
  <!--  VOTOS PREGUNTA  -->
  <!-- ================ -->
  <%= render 'preguntas/votos', :votable=>@pregunta %>

  <!-- ================= -->
  <!--  CUERPO PREGUNTA  -->
  <!-- ================= -->
  <div class="indent-1">
    <div class="user_input_html">
      <%= @pregunta.cuerpo.html_safe %>
    </div>
    <p class="meta">
      Pregunta formulada por <a href="#">Rafael Vega</a> en Febrero 8 de 2013 a las 10:00pm.
    </p>
      <% if current_usuario.id == @pregunta.usuario_id %>
        <p><a class="btn btn-small" href="<%= edit_pregunta_path %>"><i class="icon-pencil"></i> Editar pregunta.</a></p>
      <% end %>
    <p class="tags">
      <% @pregunta.etiquetas.each do |e| %>
        <span data-toggle="tooltip" title="Esta pregunta ha sido etiquetada <%= e.etiqueta %>." class="label"><a href="#"><%= e.etiqueta %></a></span>
      <% end %>
  </div>

  <!-- ====================== -->
  <!--  COMENTARIOS PREGUNTA  -->
  <!-- ====================== -->
  <div id="comentarios">
    <hr>
    <%= render 'preguntas/comentarios', :comentarios=>@pregunta.comentarios %>

    <!-- ================= -->
    <!--  FORM COMENTARIO  -->
    <!-- ================= -->
    <%= render 'preguntas/form_comentario', :comentario=>@comentario, :comentable=>@pregunta, :comentable_type=>'Pregunta', :pregunta_id=>@pregunta.id %>
  </div>

  <!-- ============ -->
  <!--  RESPUESTAS  -->
  <!-- ============ -->
  <% unless @pregunta.respuestas.empty? %>
    <h3><%= @pregunta.respuestas.length %> Respuestas</h3>
  <% end %>

  <hr>

  <% @pregunta.respuestas.each do |respuesta| %>
    <!-- ================= -->
    <!--  VOTOS RESPUESTA  -->
    <!-- ================= -->
    <%= render 'preguntas/votos', :votable=>respuesta %>

    <!-- ================== -->
    <!--  CUERPO RESPUESTA  -->
    <!-- ================== -->
    <div class="indent-1" id="respuesta_<%= respuesta.id %>">
      <div class="user_input_html">
        <%= respuesta.cuerpo.html_safe %>
      </div>
      <p class="meta">Respuesta ingresada por <a href="#">rafael vega</a> en febrero 8 de 2013 a las 10:00pm.</p>
    </div>

    <!-- ====================== -->
    <!--  COMENTARIOS RESPUESTA  -->
    <!-- ====================== -->
    <div id="comentarios">
      <hr>
      <%= render 'preguntas/comentarios', :comentarios=>respuesta.comentarios %>

      <!-- ================= -->
      <!--  FORM COMENTARIO  -->
      <!-- ================= -->
      <%= render 'preguntas/form_comentario', :comentario=>@comentario, :comentable=>respuesta, :comentable_type=>'Respuesta', :pregunta_id=>@pregunta.id %>

    </div>
    <hr>
  <% end %>

  <!-- ====================== -->
  <!--  FORM NUEVA RESPUESTA  -->
  <!-- ====================== -->
  <div id="nueva-respuesta">
    <h3>Su Respuesta</h3>
    <%= form_for(@respuesta, :url=>respuestas_path(@respuesta, :anchor=>'nueva-respuesta')) do |f| %>
      <%= f.hidden_field :pregunta_id, :value=>@pregunta.id %>

      <% if @respuesta.errors.any? %>
        <div class="alert alert-error">
          <strong>Atención!</strong>
          <br>Debe corregir los siguientes errores para poder publicar su respuesta:
          <ul>
            <% @respuesta.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <p>
        <span id="formato"><small><a href="#">Vea opciones de formato.</a></small></span>
        <br><%= f.text_area :cuerpo, {:cols=>"", :rows=>"8", :class=>'wysiwyg'}  %>
        <br><small class="muted"><i>Recuerde que lorem ipsum dolorem sit amet.</i></small>
      </p>
      <p>
        <%= f.submit raw("Publique su respuesta"), :class=>"btn btn-primary" %>
      </p>
    <% end %>
  </div>
</div>
