<div id="detalle-pregunta">
  <h2>¿Qué puedo hacer como ciudadano colombiano para <%= @pregunta.topico %>?</h2>
  <hr>

  <!-- ================ -->
  <!--  VOTOS PREGUNTA  -->
  <!-- ================ -->
  <%= render 'preguntas/votos', :votable=>@pregunta %>

  <!-- ================= -->
  <!--  CUERPO PREGUNTA  -->
  <!-- ================= -->
  <div class="indent-1">
    <div class="user_input_html">
      <%= @pregunta.cuerpo.html_safe %>
    </div>
    <p class="meta">
      Pregunta formulada por <%= link_to @pregunta.usuario.nombre, usuario_path(@pregunta.usuario) %> hace <%= distance_of_time_in_words @pregunta.updated_at, Time.now %>.
    </p>
      <% if current_usuario.id == @pregunta.usuario_id %>
        <p><a class="btn btn-small btn-editar-pregunta" href="<%= edit_pregunta_path(@pregunta) %>"><i class="icon-pencil"></i> Edite su pregunta.</a></p>
      <% end %>
    <p class="tags">
      <% @pregunta.etiquetas.each do |e| %>
        <span data-toggle="tooltip" title="Esta pregunta ha sido etiquetada <%= e.etiqueta %>." class="label"><a href="/?busqueda=<%= e.etiqueta %>"><%= e.etiqueta %></a></span>
      <% end %>
  </div>

  <!-- ====================== -->
  <!--  COMENTARIOS PREGUNTA  -->
  <!-- ====================== -->
  <div id="comentarios">
    <hr>
    <%= render 'preguntas/comentarios', :comentable=>@pregunta %>

    <!-- ================= -->
    <!--  FORM COMENTARIO  -->
    <!-- ================= -->
    <a id="agregar-comentario-pregunta" href="#" class="btn btn-mini agregar-comentario" data-form="form-comentario-pregunta-new">Publique un comentario</a>
    <%= render 'preguntas/form_comentario', :comentable=>@pregunta, :comentario=>@comentario, :is_new=>true %>
  </div>

  <!-- ============ -->
  <!--  RESPUESTAS  -->
  <!-- ============ -->
  <% unless @pregunta.respuestas.empty? %>
    <h3><%= @pregunta.respuestas.length %> Respuestas</h3>
  <% end %>

  <hr>

  <% @pregunta.respuestas.each do |respuesta| %>
    <!-- ================= -->
    <!--  VOTOS RESPUESTA  -->
    <!-- ================= -->
    <%= render 'preguntas/votos', :votable=>respuesta %>

    <!-- ================== -->
    <!--  CUERPO RESPUESTA  -->
    <!-- ================== -->
    <div class="indent-1" id="respuesta_<%= respuesta.id %>">
      <div class="hideme">
        <div class="user_input_html">
          <%= respuesta.cuerpo.html_safe %>
        </div>
        <p class="meta">Respuesta ingresada por <%= link_to respuesta.usuario.nombre, usuario_path(respuesta.usuario) %> hace <%= distance_of_time_in_words respuesta.updated_at, Time.now %>.</p>
      </div>
      <% if current_usuario.id == respuesta.usuario_id %>
        <p><a class="respuesta-edit-btn btn btn-small" href="#"><i class="icon-pencil"></i> Edite su respuesta.</a></p>
        <div class="respuesta-edit-form hidden">
          <%= render 'preguntas/form_respuesta', :respuesta=>@editing_respuesta ? @respuesta : respuesta, :is_new=>false %>
        </div>
      <% end %>
    </div>

    <!-- ====================== -->
    <!--  COMENTARIOS RESPUESTA  -->
    <!-- ====================== -->
    <div id="comentarios">
      <hr>
      <%= render 'preguntas/comentarios', :comentable=>respuesta %>

      <!-- ================= -->
      <!--  FORM COMENTARIO  -->
      <!-- ================= -->
      <a id="agregar-comentario-respuesta" href="#" class="btn btn-mini agregar-comentario" data-form="form-comentario-respuesta-new">Publique un comentario</a>
      <%= render 'preguntas/form_comentario', :comentario=>@comentario, :comentable=>respuesta, :is_new=>true %>

    </div>
    <hr>
  <% end %>

  <!-- ====================== -->
  <!--  FORM NUEVA RESPUESTA  -->
  <!-- ====================== -->
  <% unless @pregunta.usuario_already_answered(current_usuario) %>
    <div id="nueva-respuesta">
      <h3>Su Respuesta</h3>
      <%= render 'preguntas/form_respuesta', :respuesta=>@respuesta, :is_new=>true %>
    </div>
  <% end %>
</div>
