<!--====-->
<!--PATA-->
<!--====-->
<footer class="footer">
  <div class="container-fluid">
    <p>Diseño y código del sitio © 2013 <a href="<%= page_path("acerca-de") %>">El equipo de La República Ciudadana</a>. 
      <br>Contribuciones de los usuarios compartidas bajo una <a href="http://creativecommons.org/licenses/by/3.0/deed.es">licencia CC By 3.0</a>.
    </p>
    <ul class="footer-links">
      <li><a href="<%= page_path("contacto") %>">Contacto</a></li>
      <li class="muted">·</li>
      <li><a href="<%= page_path("acerca-de") %>">Acerca de La República Ciudadana</a></li>
      <li class="muted">·</li>
      <li><a href="<%= page_path("terminos") %>">Terminos de uso y privacidad</a></li>
      <li class="muted">·</li>
      <li><a href="<%= pregunta_path(1) %>">Denos su opinión</a></li>
    </ul>
  </div>
</footer>
